 {% comment %} {%load static%}
 <!-- Footer-->
 <section class="page-section" >
 <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Location</h4>
          <p>123 Main Street<br>Anytown, USA</p>
          <p>Phone: 555-555-5555</p>
          <p>Email: info@example.com</p>
        </div>
        <div class="col-md-4">
          <h4>Hours</h4>
          <p>Monday - Thursday: 11:00 AM - 9:00 PM</p>
          <p>Friday - Saturday: 11:00 AM - 10:00 PM</p>
          <p>Sunday: 11:00 AM - 9:00 PM</p>
        </div>
        <div class="col-md-4">
          <h4>Follow Us</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
          <p>Sign up for our newsletter:</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </footer>
</section>
<!-- Bootstrap core JS--> {% endcomment %}
